<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Temperature Converter</title>
</head>
<body>
<h1>Конвертер температуры:</h1>

<form action="/converter" method="post">
    <div>
        <label for="value">Введите искомое значение:</label>
        <input type="text" id="value" name="value">
    </div>
    <br>
    <div>
        <label>Перевести в градусы:</label>
        <select name="scale">
            <option value="C">Цельсия</option>
            <option value="F">Фаренгейта</option>
        </select>
    </div>
    <br>
    <button type="submit">Конвертировать</button>
</form>
<p style="color: darkred; font-weight: bold">Результат: <span th:text="${result}"></span></p>
</body>
</html>