<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->

<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<div>-->
<!--    <form action="/products" method="post">-->
<!--        <label>-->
<!--            Введите наименование товара:-->
<!--        </label>-->
<!--        <input type="text" name="name"><br>-->

<!--        <label>-->
<!--            Выберите категорию:-->
<!--        </label><br>-->
<!--        <select name="categoryName">-->
<!--            <option th:each="category: ${categories}"></option>-->
<!--        </select>-->

<!--        <button type="submit">Добавить товар</button>-->
<!--    </form>-->
<!--    <div>-->
<!--        <p><span th:text="${message}"></span></p>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->